* {
  padding: 0;
  margin: 0;
  font-weight: 600;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main {
  margin: 8.85% 20%;
  justify-content: space-around;
}

.container {
  min-width: 40rem;
}

.button {
  font-size: 1.2rem;
  height: 60px;
  border: 1px solid rgb(201, 188, 174);
}

.result {
  width: 100%;
  background-color: #858694;
  border: none;
  text-align: end;
  pointer-events: none;
}

.result-text {
  color: #fff;
  padding-right: 10px;
  padding-top: 18px;
  font-size: 1.8rem;
}

.d-flex {
  display: flex;
}

.big-child {
  flex: 2.01;
}

.flex-child {
  flex: 1;
}

.operator {
  background-color: #f5913e;
}

/* links */

nav {
  display: flex;
  min-height: 8vh;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(48, 54, 56);
  color: white;
}

.list-items {
  display: flex;
  width: 30%;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}

/* quote */

.content-container {
  margin: 18.8% 30%;
}

.content {
  text-align: center;
}
