* {
  padding: 0;
  margin: 0;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
  text-align: justify;
}

.button {
  font-size: 1.2rem;
  height: 60px;
  border: 1px solid rgb(201, 188, 174);
}

.container {
  width: 100%;
}

.result {
  background-color: #858694;
  border: none;
  text-align: end;
  pointer-events: none;
}

.result p {
  color: #fff;
  padding-right: 10px;
  padding-top: 18px;
  font-size: 1.8rem;
  text-align: end;
}

.d-flex {
  display: flex;
}

.big-child {
  flex: 2.01;
}

.flex-child {
  flex: 1;
}

.operator {
  background-color: #f5913e;
}

/* links */

nav {
  padding: 0 12%;
  min-height: 8vh;
  align-items: center;
  background-color: rgb(48, 54, 56);
  color: white;
}

.list-items {
  display: flex;
  width: 30%;
  justify-content: space-around;
  list-style: none;
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}

/* quote */

.pad {
  padding: 3% 12%;
}

.paddy {
  padding: 8% 12%;
}

.heading {
  padding: 3% 0;
}

.s-betw {
  justify-content: space-between;
}

.j-right {
  text-align: center;
  justify-content: center;
}

.quote {
  font-size: 1.2rem;
  font-weight: 800;
}

.author {
  opacity: 0.8;
  padding: 2%;
}
